html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
  color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
}

.ellipse {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  mix-blend-mode: multiply;
}

.switch label {
  display: block;
  width: 46px;
  height: 22px;
  background: #828282;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background 350ms ease;
  text-align: center;
  item-align: flex-end;
}

.switch label:before,
.switch label:after {
  content: "";
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 50%;
  transition: all 120ms linear;
}

.switch label:before {
  background: rgba(50, 50, 50, 0.5);
  transform: translate3d(100%, -50%, 0) scale(0);
}

.switch label:after {
  background: rgba(50, 50, 50, 0.5);
  transform: translate3d(100%, -50%, 0) scale(1);
}

.switch input:checked + label:before {
  transform: translate3d(0%, -50%, 0) scale(1);
}

.switch input:checked + label:after {
  transform: translate3d(0%, -50%, 0) scale(0);
}
