doctype html
html
  head
    meta charset="utf-8"
    meta property="og:url" content="http://codepen.io/Cairos/full/ZOwGXw/"
    meta property="og:type" content="website"
    meta property="og:title" content="Random Tao Te Ching"
    meta property="og:description" content="Get a random chapter from the Tao Te Ching"
    title Random Tao Te Ching Chapters
    link type="text/css" rel="stylesheet" href="https://npmcdn.com/basscss@8.0.2/css/basscss.min.css"
    link type="text/css" rel="stylesheet" href="https://npmcdn.com/basscss-responsive-margin@1.1.0/css/responsive-margin.css"
    link type="text/css" rel="stylesheet" href="styles.css"

  body.flex.flex-row.max-width-4.mx-auto.sm-m1
    #fb-root
    script
      | (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

    .table.col.left.xs-hide.sm-col-1
      .table-cell.h1.center.align-middle
        |  T<br>a<br>o<br>
        br
        |  T<br>e<br>
        br
        |  C<br>h<br>i<br>n<br>g

      .table-cell.sm-hide
        .line-top
        .line-bottom

    .article.left.h3.col.sm-col-1
      |  The tao that can be told<br>
      |  is not the eternal Tao<br>
      |  The name that can be named<br>
      |  is not the eternal Name.<br>
      br
      |  The unnamable is the eternally real.<br>
      |  Naming is the origin<br>
      |  of all particular things.<br>
      br
      |  Free from desire, you realize the mystery.<br>
      |  Caught in desire, you see only the manifestations.<br>
      br
      |  Yet mystery and manifestations<br>
      |  arise from the same source.<br>
      |  This source is called darkness.<br>
      br
      |  Darkness within darkness.<br>
      |  The gateway to all understanding. 

    .inline-flex.col.sm-col-1.flex-wrap.flex-column.h4.mx-auto
      button.new.table-cell.align-middle.xs-m2 
          | Random Chapter
      .table.xs-my1
        a.twitter-share-button.table-cell.align-bottom href="https://twitter.com/intent/tweet?text=Get%20a%20random%20quote%20from%20the%20Tao%20Te%20Ching&url=http%3A%2F%2Fcodepen.io%2FCairos%2Ffull%2FZOwGXw%2F&hashtag=codenewbies,freecodecamp&via=cairos_v&related=freecodecamp%3AFreeCodeCamp,twitterapi%3ATwitter%20API%20News"
          | Tweet
        .fb-share-button.table-cell.align-top data-href="http://codepen.io/Cairos/full/ZOwGXw/" data-layout="button" data-size="small" data-mobile-iframe="false"
          a.fb-xfbml-parse-ignore target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcodepen.io%2FCairos%2Ffull%2FZOwGXw%2F&amp;src=sdkpreparse"
            | Share

      .credit.xs-ml1
        |  Written by Lao-tzu
        br
        |  Translation by S. Mitchell
        br
        |  Copyright &#169; 2016 
        a href="https://www.twitter.com/@cairos_v" title="Twitter Profile"
          | Carlos Vigil

    script
      | window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    script src="script.js"
