html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #4f6845;
  color: #fde7af;
  font-family: Merriweather, serif;
  font-size: 100%;
  padding: 6.8541%;
}

.main {
  margin: auto;
  width: 100%;
}

.h1 {
  clear: left;
  color: #d48c21;
  float: left;
  font-size: 261.8033988733%;
  margin: 4.23607%;
}

article {
  font-size: 161.803398874%;
  margin: 4.23607%;
}

.buttons {
  flex: auto;
  margin: 2.61803%;
}

.credit {
  color: #b7945c;
  margin: 2.61803%;
}

.footer {
  color: #b7945c;
  margin: 1.61803%;
}

a {
  color: #d48c21;
  text-decoration: none;
}

a:hover {
  color: #fde7af;
  text-decoration: underline;
}

.alt {
  background: #fde7af;
  color: #4f6845;
}
