html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #4f6845;
  color: #fde7af;
  font-family: Merriweather, serif;
  font-size: 100%;
}

.h1 {
  clear: left;
  color: #d48c21;
  float: left;
  font-size: 261.8033988733%;
  height: 100%;
}

.bar {
  float: left;
  height: 100%;
  left: 200px;
  top: 200px;
  width: 2.618033988733px;
}

.line-top {
  border-bottom: 320px solid #fde7af;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.line-bottom {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 320px solid #fde7af;
}

article {
  font-size: 161.803398874%;
  width: 61.80339887498%;
}

.buttons {
  align-items: center;
  flex: auto;
  margin: none;
}

td {
  vertical-align: top;
}

.random {
  background-color: #fde7af;
  border: 0;
  border-radius: 2.618033988733px;
  color: #4f6845;
  height: 100%;
}

.credit {
  color: #b7945c;
}

.footer {
  color: #b7945c;
}

a {
  color: #d48c21;
  text-decoration: none;
}

a:hover {
  color: #fde7af;
  text-decoration: underline;
}

.alt-light {
  background: #fde7af;
  color: #4f6845;
}

.alt-dark {
  background-color: #4f6845;
  color: #fde7af;
}
