@import 'reset'
@import 'phi'
@import 'palette'


html,
body
  height: 100%
  width: 100%

body
  background: $greenish
  color: $whiteish
  font-family: Merriweather, serif
  font-size: 100%

.h1
  clear: left
  color: $orangy
  float: left
  font-size: 261.8033988733%
  height: 100%

.bar
  float: left
  height: 100%
  left: 200px
  top: 200px
  width: 2.618033988733px

.line-top
  border-bottom: 320px solid $whiteish
  border-left: 1px solid transparent
  border-right: 1px solid transparent

.line-bottom
  border-left: 1px solid transparent
  border-right: 1px solid transparent
  border-top: 320px solid $whiteish

article
  font-size: 161.803398874%
  width: 61.80339887498%

.buttons
  align-items: center
  flex: auto
  margin: none

td
  vertical-align: top

.random
  background-color: $whiteish
  border: 0
  border-radius: 2.618033988733px
  color: $greenish
  height: 100%

.credit
  color: $brownish

.footer
  color: $brownish

a
  color: $orangy
  text-decoration: none

a:hover
  color: $whiteish
  text-decoration: underline

.alt-light
  background: $whiteish
  color: $greenish

.alt-dark
  background-color: $greenish
  color: $whiteish
